@import "tailwindcss";

@theme {
  --color-brand-primary: #7c3aed;
  --color-brand-secondary: #6d28d9;
  --color-brand-accent: #4b5563;
  --color-brand-light: #f3f4f6;
  --color-brand-deep: #1f2937;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}